h1, h2, h3 {
	font-family: 'Open Sans', sans-serif !important;
}

h1 {
	font-size: 6.5em;
	font-weight: 700;
}

h2 {
	font-size: 5em;
	font-weight: 200;
}

h3 {
	font-size: 2em;
	font-weight: 500 !important;
}

@media (max-width: 768px) {
	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 2.5em;
	}
}

body {
	margin: 0em;
}

.hidden-image {
	opacity: 0;
	position: absolute;
}

/*****************************
Jumbotron Container
******************************/
.jumbotron-container h1, .jumbotron-container h2, .jumbotron-container h3 {
	color: white;
}
.jumbotron-container {
	margin-top: 0em;
	position: relative;
	width: 100%;
	min-height: 44em;
	max-height: 45em;
	background: linear-gradient(
	rgba(0,0,0,0.5),
	rgba(0,0,0,0.5)
	),
	url(images/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	padding-top: 10em;
}

.jumbotron-container h1 {
	text-align: middle;
}

.jumbotron-container .icon img {
	width: 3em;
	height: auto;
	display: inline;
	margin-top: 0.5em;
	margin-bottom: 2em;
}

/*************************
Bio Container
**************************/

.bio-container {
	background: white;
	margin: 0em;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

.bio-container h1, .bio-container h2, .bio-container h3 {
	color: #2c3e50;
	font-weight: 600 !important;
	margin-top: 15px;
}

.bio-container p {
	color: #666666;
}

.about-me h3 {
	color: #27ae60 !important;
}

.bio-description p {
	text-align: left;
}

.bio-info {
	text-align: left;
	line-height: 2em;
}

@media (max-width: 992px) {
	.bio-info {
		text-align: center;
	}
}

.bio-bio {
	line-height: 2em;
	text-align: center !important;
}

.bio-info p {
	display:inline;
}


.my-pictures {
	position:relative;
	overflow: hidden !important;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	border-style: solid;
	border-width: 5px;
	border-color: #2c3e50;
	background-size: contain !important;
	background: url(images/me1.jpg);
}

.my-pictures .background {
	position: absolute;
	height: 100%;
	width: 100%;
}



@media (max-width: 600px) {
	.my-pictures {
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}
}

.bio-container .bold {
	font-weight: 900;
}

/***********
Experience
************/
.experience {
	background: #2c3e50;
	color: white;
	padding-top: 2em;
	padding-bottom: 2em;
}

.experience h1, .experience h2, .experience h3, .experience h4 {
	color: white !important;
	font-weight: 600 !important;
	margin-top: 15px;
}

.experience .date {
	color: white;
	font-style: italic;
	
}
@media (max-width:992px) {
	.experience .job-title-and-description {
		margin-left: 1.0em;
	}
}

/******************
Education
******************/
.education {
	background: black;
	color: white;
	padding-top: 2em;
	padding-bottom: 2em;
}

.education h1, .education h2, .education h3, .education h4 {
	color: white !important;
	font-weight: 600 !important;
	margin-top: 30px;
}

.education .date {
	color: white;
	font-style: italic;
	
}

@media (max-width: 992px) {
	.education .degree-title-and-description {
		margin-left: 1em;
	}
}

/**********************
skills
************************/
.skills h1, .skills h2, .skills h3 {
	font-weight: 600 !important;
	margin-top: 0px;
	color: white !important;
}

.skills {
	padding-top: 15px;
	background:#7f8c8d !important;
}

.skills h3 {
	font-weight: 500 !important;
	font-size: 3.5em !important;
}

.skill-type {
	z-index: 1;
	height: 18em;
}
.skill-type {
  perspective: 1000;
  margin-bottom:2em;
}

.skill-card {
  transform-style: preserve-3d;
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
  position: relative;
}
.skill-card:hover {
  transform: rotateY(180deg);
}
.skill-card:hover .front {
	opacity:0;
	transition: opacity 0.2s;
}
.face {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  backface-visibility: hidden;
  color: white;
  font-weight: 700;
}

.left {
	position:absolute;
	left: 5%;
	top: 45%;
	
}

.mini-skill p {
	position: absolute;
	height: 50%;
	top: 20% !important;
	font-size:1.5em;
}

.mini-skill {
	position:absolute;
	height: 25%;
	color: white;
}

.mini-skill:hover {
	cursor: default;
}	

.mini-skill img {
	height: 40px;
	width: 40px;
}

.mini-skill.one {
	background: #3498db;
	left:0%;
	top:0%;
	width: 100%;
}
.mini-skill.one:hover {
	background: #2980b9
}
.mini-skill.two {
	background: #e67e22;
	left:0%;
	top:25%;
	width: 100%;
}
.mini-skill.two:hover {
	background:#d35400;
}
.mini-skill.three {
	background: #1abc9c;
	left:0%;
	top:50%;
	width: 100%;
}
.mini-skill.three:hover {
	background:#16a085;
}
.mini-skill.four {
	background: #f1c40f;
	left:0%;
	top:75%;
	width: 100%;
}
.mini-skill.four:hover {
	background:#f39c12;
}
.mini-skill.five {
	background: #9b59b6;
	left:50%;
	top:0%;
	width: 50%;
}
.mini-skill.five:hover {
	background:#8e44ad;
}

.mini-skill.six {
	background: #34495e;
	left:50%;
	top:25%;
	width: 50%;
}
.mini-skill.six:hover {
	background:#2c3e50;
}

.mini-skill.seven {
	background: #e74c3c;
	left:50%;
	top:75%;
	width: 50%;
}
.mini-skill.seven:hover {
	background:#c0392b;
}

.mini-skill.left-skill {
	width: 50% !important;
	left: 0% !important;
}
.mini-skill.right-skill {
	width: 50% !important;
	left: 50% !important;
}

.mini-skill.left-skill img {
	width: 25px;
	height: auto;
}
.mini-skill.left-skill h3 {
	font-size: 3em !important;
}

.right {
	position:absolute;
	right: 5%;
	top: 45%;
}

.front {
	backface-visibility:hidden !important;
}
.square {
	backface-visibility:hidden !important;
}

.front img {
	position: absolute;
	left: 25%;
	top: 25%;
	width: 50%;
	height: 50%;
	backface-visibility: hidden !important;
}

.back {
	background: white !important;
	border-color: #2ecc71 !important;
	text-align:center;
}

.face.back {
  transform: rotateY(180deg);
}

.skills .square {
	border-style: solid;
	border-width: 5px;
	border-color: white;
	background: #2ecc71;
	height: 18em;
	width: 18em;
	margin: 0 auto;
}

@media (max-width: 500px) {
	.skills .square {
		height: 12em;
		width:12em;
	}
}

/*******************
Projects
********************/

.projects h1, .projects h2, .projects h3 {
	font-weight: 600 !important;
	margin-top: 0px !important;
}

.projects {
	background: #2c3e50;
	padding-bottom: 15px;
	padding-top: 15px;
}

.projects h2 {
	color: white;
}

.projects h3 {
	color: white;
	font-size: 2.5em;
	font-weight: 600;
}

.projects h4 {
	color: white;
	font-size: 1.2em;
	font-weight: 0;
}

@media (max-width: 500px) {
	.projects h4 {
		font-size: 1em;
	}
	.projects h3 {
		font-size: 1.5em;
	}
}

.projects .website-image {
	margin-bottom: 2em;
	position: relative;
	overflow: hidden;
}

.projects .website-image a {
	position: absolute;
	z-index: 9999;
	top:0%;
	left: 0%;
	height: 100%;
	width:100%;
}

.projects .website-image .caption {
	position: absolute;
	height: 100%;
	width: 100%;
	top: -100%;
	background:#1abc9c;
	opacity: 0.9;
	z-index:999;
	transition: top 0.5s;
}

.projects .website-image .caption-still {
	position:absolute;
	right: 0%;
	top: 0%;
	height: 40px;
	width: 40px;
	background: #1abc9c;
	z-index: 1001;
}

.projects .website-image .plus-sign {
	position:absolute;
	top: 50%;
	left: 50%;
	font-size: 13em;
	height: 10px;
	width: 10px;
}

.projects .website-image .plus-sign p {
	position:relative;
	background: black;
	line-height: 0;
	width: 100%;
	text-align: center;
	margin-left: -50px;
}


.projects .website-image .caption-still img {
	height: 50%;
	width: 50%;
	position: absolute;
	left: 25%;
	top: 25%;
}

.projects .website-image .caption-text {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 90%;
	opacity: 0;
	transition: opacity 0.5s;
	z-index:1000
}



.projects .new-website > img {
	opacity: 0;
}

.projects  .new-website {
	background: #1abc9c;
}


/********************
Interests
**********************/
.interests h1, .interests h2, .interests h3 {
	font-weight: 600 !important;
	margin-top: 15px;
}
.interests {
	background: white;
}

@media (max-width: 768px) {
	.interests {
		min-height:80em;
	}
}

.interests h1, h2, h3 {
	color: #666666;
}

.interests .interest-icon {
	background: #bdc3c7;
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	padding-top: 45px;
	margin-bottom: 2em;
}

.interests .interest-icon:hover {
	transition: background 1s;
}

.interests .yellow:hover {
	background: #f1c40f;
}
.interests .red:hover {
	background: #e74c3c;
}
.interests .blue:hover {
	background: #3498db;
}
.interests .green:hover {
	background: #2ecc71;
}
.interests .purple:hover {
	background: #9b59b6;
}
.interests .teal:hover {
	background: #1abc9c;
}


.interests .interest-icon-image  {
	height: 30%;
	margin-bottom: 20px;
}

.interests .interest-icon-image img {
	height: 100%;
}


.interests .interest-icon .description {
	font-weight: 600;
}

/********************
Contact
******************/
.contact {
	background: #666666;
	padding-bottom:2em;
}

.contact h2 {
	color: white;
}

.contact .social-icons img {
	width: 50px;
	margin-bottom: 1em;
}